@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.first{
    display: flex;

    /* fi_15371027 */
position:relative;
width: 62px;
height: 62px;
right: 10px;
margin-right: 90px;

}
#school{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 25px;
font-weight: 700;
line-height: 30px;
letter-spacing: 100%;
text-align: center;
}
.second{
    display: flex;
    gap:30px

}
.home{
    color: rgb(254, 163, 1);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.about{
    color: rgb(1, 172, 253);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.facilities{
    color: rgb(5, 212, 223);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.admission{
    color: rgb(93, 88, 239);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0%;
text-align: right;
}
.third{
    display: flex;
}
#nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    /* Frame 2 */
position: static;
width: 197px;
height: 50px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: right;
gap: 10;
padding: 10px;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin-right: 0px;

border-radius: 12px;


/* Orange */
background: rgb(254, 163, 1);

color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: left;

border: none;


}
#banner{
    display: flex;
    border-bottom: 2px dashed rgb(181, 181, 181);



}
.banner-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.Empowering{
   font-family: Quicksand;
   font-weight: 700;
   font-size: 56px;
   letter-spacing: 0px;
    align-items: left;
    

    color: rgb(254, 163, 1);

}

.sfsa{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0%;
     align-items: left;
 
     color: rgb(17, 17, 17);
 
}
.tv{
    font-family: Quicksand;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0%;
     align-items: left;
 
     color: rgb(1, 172, 253);
 
}
.paragraph{
    color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.Enroll{
    /* Frame 3 */
position: static;
width: 197px;
height: 50px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 10px;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 24px 0px;

border-radius: 12px;

/* Black */
background: rgb(17, 17, 17);
color: white;
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
border: none;
}
#burger{
    display: none;
    
    
}
.standard-curriculum{
    text-align: center;

    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 40px;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
}
#standard-curriculum{
    background-image: url(bg.png);

    display: flex;
    background-repeat: no-repeat;
    
    

}
.card1, .card2, .card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;


}
.head1, .head2, .head3{
    color: rgb(32, 32, 32);
font-family: Quicksand;
font-size: 24.52px;
font-weight: 700;
line-height: 30.65px;
letter-spacing: 0%;
text-align: center;
}
.paragraph1, .paragraph2, .paragraph3{
    color: rgb(128, 128, 128);
font-family: Quicksand;
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
}
.read-more1, .read-more2, .read-more3{
 
  
    font-family: Quicksand;
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
}
.read-more1{
    color: rgb(100, 200, 255);
}
.read-more2{
    color: rgb(240, 170, 0);
}
.read-more3{
    color: rgb(135, 0, 255);
}
.card1{
    box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.card2{
    box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.card3{
    box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#challange1{
    display: flex;
    justify-content: center;
    gap:15px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.btns{
    width: 60px;
    height: 60px;
    font-size: 35px;
    font-weight: 2px;
    border: none;
    color: white;
    background-color: orange;
    border-radius: 50%;
    font-family: Quicksand;
}
#our-stories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 20px;
    row-gap: 20px;
    background: url(bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-repeat: none;
    
}
.our-stories{
    text-align: center;

    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 40px;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
height: 100px;
}

.story1{
    grid-row: span 2;

   
}
img{
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

   
   
}
.image{
    max-width: 40%;
    max-height: 100%;
    border-radius: 47.93px;


}
.content{
    
    background-color: white;
    padding: 10px;
    align-items: center;

}
.story1{
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
}

.story2,.story3,.story4,.story5{
    border-radius: 16px;

background: rgb(255, 255, 255);
    
width: 290.69px;
height: 301.61px;

     
 }
.date1{
    display: flex;
    color: white;
    font-family: Quicksand;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    
    align-items: center;

    text-transform: capitalize;
    padding-left: 35px;
    border-radius: 47.93px;

background: rgb(60, 216, 232);
width: 174.51px;
height: 47.93px;

margin-left: 10px;
margin-top: 0px;



}
.date{
    color: white;
font-family: Quicksand;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
padding-left: 10px;
border-radius: 47.93px;

background: rgb(149, 178, 38);

border-radius: 47.93px;
width: 50%;

color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;

margin-left: 5px;


}
.heading{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 16px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
padding-left: 10px;
}
.heading1{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 38.35px;
letter-spacing: 0%;
text-align: left;
margin-left: 10px;
}
.para1{
    color: rgb(102, 102, 102);
    font-family: Quicksand;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 10px;
}
#view-all{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    
    
}
.view-all{
    

    
    /* Frame 3 */

width: 197px;
height: 50px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 10px;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 80px 0px;

border-radius: 12px;

/* Black */
background: rgb(17, 17, 17);
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
border: none;
}




.first1{
    display: flex;
    

}

.div1{
    display: flex;
    flex-direction: column;
}
#footer{
    display: flex;
    justify-content: space-around;
    background-color:rgb(1, 172, 253);
    margin-top: 20px;
    padding-bottom: 20px;
    align-items: center;


width: 100%;
height: 400px;

}
.kids-education{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 42.14px;
font-weight: 700;
line-height: 39.51px;
letter-spacing: 0%;
text-align: left;
}
.last-paragraph{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.about-school{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.options{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.keep-in-touch{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 26px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}










@media screen and (max-width:576px){
    #school{
        visibility: hidden;
    }
    .second, .third{
        visibility: hidden;
    }
    #burger{
       display: block;

    }
    #nav{
        border-bottom: 5px solid orange;
    }
    #banner{
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        
    }
    .banner-description{
        align-items: center;
        text-align: center;
    }
    #standard-curriculum{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .burgerlogo{
        display: block;   
    }
    .btns{
    visibility: hidden;
    }

   
    
    
    
    #footer{
        display: flex;
        flex-direction:column ;
        align-items: flex-start;
        padding: 20px;
    }
}